/**layouts\partials\home-header.blade.php***/
.navbar.navbar-default.nav-white-bg{
    background-color: rgb(0 0 0 / 72%);
}
.splash-bg{
    width: 100%;
    height: 100%;
}
.login-nav{
    height: auto
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.float-none{
    float: none !important;
}
.welcome-logo{
    margin: 0 auto;
    max-width: 300px;
}
.video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}
  .video-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  #video {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
}
  video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
  .content.welcome-caption{
    height: auto;
    min-height: auto;
    position: absolute;
    top: 34%;
    width: 100%;
    color: #fff;
    right: 0;
    left: 0;
}
  .welcome-login-list{
      list-style: none;
      padding: 0;
}
.welcome-title{
    font-size: 50px !important;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
    padding-bottom: 1rem; 
}
.welcome-slogan{
    font-size: 30px !important;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
    padding-bottom: 1.6rem;
}
@media (max-width: 768px){
    .welcome-title {
        font-size: 28px !important;
        letter-spacing: .1rem;
        padding-bottom: .5rem;
    }
    .welcome-slogan{
        font-size: 18px !important;
        padding-bottom: 1.2rem;
    }
}

.welcome-register{
    margin-top: 14px;
    display: block;
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    text-decoration: underline;
}
.btn-outline-light{
    color: #f8f9fa;
    background-color: rgb(0 0 0 / 49%);;
    background-image: none;
    border-color: #f8f9fa;
}
.btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-outline-light:active, .btn-outline-light:focus {
    color: #212529;
    box-shadow: 0 0 0 0.2rem rgb(248 249 250 / 50%);
    background-color: #f8f9fa !important;
}
.btn-lg {
    border-width: medium;
    border-radius: 0px;
    padding: 11px 26px;
    margin-top: 5px;
    text-transform: uppercase;
}
@media (max-width: 768px){
    .btn-lg {
        font-size: 17px;
        padding: 0.5rem 1rem;
    }
}

/**views\layouts\auth2.blade.php**/
.right-col{
    background-color: #0e0e0e;
}
.right-col .login-form p, .right-col .login-form label{
    color: #a3a3a3 !important
}
.right-col .login-form input{
    background-color: #fff !important
}
.right-col .login-form .btn-primary {
    background: #ab8642 !important;
    border-color: #b7914b !important;
    color: #444 !important;
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s all ease;
}
.right-col .login-form .btn-primary:hover {
    background: #976c1d !important;
    border-color: #976c1d !important;
    color: #fff !important
}
.login-input-field{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.full-width{
    width: 100%;
}
.login-forget{
    color: #444 !important;
    font-size: 13px !important;
    text-decoration: underline;
}
@media (max-width: 768px){
    .login-input-field{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}
